<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/TestPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginationServlet</display-name>
    <servlet-name>PaginationServlet</servlet-name>
    <servlet-class>PaginationServletPackage.PaginationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginationServlet</servlet-name>
    <url-pattern>/PaginationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginationServlet2</display-name>
    <servlet-name>PaginationServlet2</servlet-name>
    <servlet-class>PaginationServletPackage.PaginationServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginationServlet2</servlet-name>
    <url-pattern>/PaginationServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDescriptionServlet</display-name>
    <servlet-name>ItemDescriptionServlet</servlet-name>
    <servlet-class>ItemDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDescriptionServlet</servlet-name>
    <url-pattern>/ItemDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_Field</display-name>
    <servlet-name>Fetch_Field</servlet-name>
    <servlet-class>Fetch_Field</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Field</servlet-name>
    <url-pattern>/Fetch_Field</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_List</display-name>
    <servlet-name>Fetch_List</servlet-name>
    <servlet-class>Fetch_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_List</servlet-name>
    <url-pattern>/Fetch_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FechList</display-name>
    <servlet-name>FechList</servlet-name>
    <servlet-class>FechList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FechList</servlet-name>
    <url-pattern>/FechList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchList</display-name>
    <servlet-name>FetchList</servlet-name>
    <servlet-class>FetchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchList</servlet-name>
    <url-pattern>/FetchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_Duration</display-name>
    <servlet-name>Fetch_Duration</servlet-name>
    <servlet-class>Fetch_Duration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Duration</servlet-name>
    <url-pattern>/Fetch_Duration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreItemDetails</display-name>
    <servlet-name>StoreItemDetails</servlet-name>
    <servlet-class>StoreItemDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreItemDetails</servlet-name>
    <url-pattern>/StoreItemDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrollyServlet</display-name>
    <servlet-name>TrollyServlet</servlet-name>
    <servlet-class>TrollyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrollyServlet</servlet-name>
    <url-pattern>/TrollyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterAsBuyer</display-name>
    <servlet-name>EnterAsBuyer</servlet-name>
    <servlet-class>EnterAsBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAsBuyer</servlet-name>
    <url-pattern>/EnterAsBuyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterAsSeller</display-name>
    <servlet-name>EnterAsSeller</servlet-name>
    <servlet-class>EnterAsSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAsSeller</servlet-name>
    <url-pattern>/EnterAsSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaNyaPalSignIn</display-name>
    <servlet-name>PaNyaPalSignIn</servlet-name>
    <servlet-class>PaNyaPalSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaNyaPalSignIn</servlet-name>
    <url-pattern>/PaNyaPalSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaNyaPalSignUp</display-name>
    <servlet-name>PaNyaPalSignUp</servlet-name>
    <servlet-class>PaNyaPalSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaNyaPalSignUp</servlet-name>
    <url-pattern>/PaNyaPalSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyItNowServlet</display-name>
    <servlet-name>BuyItNowServlet</servlet-name>
    <servlet-class>BuyItNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyItNowServlet</servlet-name>
    <url-pattern>/BuyItNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivationServlet</display-name>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>ActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/ActivationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidatorServlet</display-name>
    <servlet-name>EmailValidatorServlet</servlet-name>
    <servlet-class>EmailValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidatorServlet</servlet-name>
    <url-pattern>/EmailValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_Subcat</display-name>
    <servlet-name>Fetch_Subcat</servlet-name>
    <servlet-class>Fetch_Subcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Subcat</servlet-name>
    <url-pattern>/Fetch_Subcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionPaginationServlet</display-name>
    <servlet-name>AuctionPaginationServlet</servlet-name>
    <servlet-class>PaginationServletPackage.AuctionPaginationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionPaginationServlet</servlet-name>
    <url-pattern>/AuctionPaginationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionPaginationServlet2</display-name>
    <servlet-name>AuctionPaginationServlet2</servlet-name>
    <servlet-class>PaginationServletPackage.AuctionPaginationServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionPaginationServlet2</servlet-name>
    <url-pattern>/AuctionPaginationServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionItemServlet</display-name>
    <servlet-name>AuctionItemServlet</servlet-name>
    <servlet-class>AuctionItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionItemServlet</servlet-name>
    <url-pattern>/AuctionItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreItemImage</display-name>
    <servlet-name>StoreItemImage</servlet-name>
    <servlet-class>StoreItemImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreItemImage</servlet-name>
    <url-pattern>/StoreItemImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiddingServlet</display-name>
    <servlet-name>BiddingServlet</servlet-name>
    <servlet-class>BiddingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiddingServlet</servlet-name>
    <url-pattern>/BiddingServlet</url-pattern>
  </servlet-mapping>
</web-app>